main {
    display:flex;
    padding-top: 2%;
    flex-direction: column;
}

form {
    position:relative;
    left: 40%;
}

section {
    display: flex;
    padding-left: 1%;
    padding-bottom: 1%;
    flex-wrap: wrap;
}

section img {
    height: 300px;
    text-align: center;
}

.mainSection {
    background-color: aquamarine;
    padding: 20px;
    margin-right: 10px;
    margin-top: 10px;
    align-self: flex-end;
}
.mainSection p{
    padding-top: 10px;
}